@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

$primary-color: #000000;
$secondary-color: rgb(32, 195, 111);
$tertiary-color-dark: rgb(84, 84, 84);
$tertiary-color-light: rgb(199, 197, 197);
$quaternary-color: rgb(255, 255, 255);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    font-family: "Homemade Apple";
    font-size: 50px;
    color: $secondary-color;
}

.calculator {
    background-color: $primary-color;
    color: $quaternary-color;
    width: 400;
    height: 120;
    padding: 20px;
    border-radius: 100px;

    .display-container {
        height: 250px;
        padding: 0 20px;
    }

    .value {
        font-size: 130px;
        font-weight: 300;
        margin-bottom: 0 20px 20px 0;
        height: 150px;
        text-align: right;
    }

    .buttons-container {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    
        .button {
            height: 110px;
            width: 110px;
            font-size: 45px;
            border-radius: 55px;
            background-color: $tertiary-color-dark;
            display: flex;
            justify-content: center;
            align-items: center;

            &.function {
                color: $primary-color;
                background-color: $tertiary-color-light;
            }
    
            &.operator {
                background-color: $secondary-color;
            }
    
            &.number-0 {
                width: 260px;
                justify-content: flex-start;
                padding-left: 40px;
                grid-column: 1 / span 2;
            }

            &:active { 
                filter: brightness(80%);
                transition: filter 0.3s; 
            }
        }
    }
}
